add-trailing-comma
algorithms
ansible
ansible-core
ansible-lint
ansible<2.9
arrow
asv
attrs
autopep8
autotyping
bandit
beautifulsoup4
bellybutton
bidict
black
blosc
borgbackup
Bottleneck
bowler
brotli
cache-pandas
cachetools
callgraph
cffi
cmake
coala-bears
code2flow
cohesion
configparser
coverage
cppyy
cppyy-backend
cppyy-cling
CPyCppyy
cryptography
cython
darglint
data-cache
debugpy
decompyle3
delegator.py
dlint
docutils-stubs
dotted
enum34
fake_useragent
fastcluster
fastparquet
fissix
flake8
flake8-2020
flake8-aaa
flake8-absolute-import
flake8-ado
flake8-alfred
flake8-alphabetize
flake8-annotations
flake8-annotations-complexity
flake8-annotations-coverage
flake8-assertive
flake8-async
flake8-author
flake8-bandit
flake8-black
flake8-broken-line
flake8-bugbear
flake8-builtins
flake8-class-attributes-order
flake8-codes
flake8-coding
flake8-cognitive-complexity
flake8-commas
flake8-comments
flake8-comprehensions
flake8-copyright
flake8-dashboard
flake8-datetime-import
flake8-datetime-utcnow-plugin
flake8-datetimez
flake8-debugger
flake8-django
flake8-django-migrations
flake8-docstring-checker
flake8-docstrings
flake8-dunder-all
flake8-encodings
flake8-eradicate
flake8-executable
flake8-expression-complexity
flake8-fastapi
flake8-fixme
flake8-for-pycharm
flake8-forbidden-func
flake8-functions
flake8-functions-names
flake8-future-annotations
flake8-future-import
flake8-gl-codeclimate
flake8-html
flake8-implicit-str-concat
flake8-import-order
flake8-import-order-spoqa
flake8-import-style
flake8-isort
flake8-jira-todo-checker
flake8-json
flake8-length
flake8-literal
flake8-logging-format
flake8-markdown
flake8-match
flake8-mock
flake8-multiline-containers
flake8-nb
flake8-new-union-types
flake8-newspaper-style
flake8-no-implicit-concat
flake8-no-pep420
flake8-no-types
flake8-noqa
flake8-obey-import-goat
flake8-ownership
flake8-pep3101
flake8-pep585
flake8-pep604
flake8-pie
flake8-print
flake8-printf-formatting
flake8-pyi
flake8-pylint
flake8-pyproject
flake8-pyprojecttoml
flake8-pytest
flake8-pytest-style
flake8-pytestrail
flake8-quotes
flake8-requirements
flake8-return
flake8-rst
flake8-rst-docstrings
flake8-ruler
flake8-scrapy
flake8-scream
flake8-secure-coding-standard
flake8-simplify
flake8-slots
flake8-spellcheck
flake8-sphinx-links
flake8-sql
flake8-SQL
flake8-strftime
flake8-strict
flake8-string-format
flake8-test-name
flake8-tidy-imports
flake8-todo
flake8-todos
flake8-too-many
flake8-type-checking
flake8-typing-imports
flake8-unused-arguments
flake8-use-fstring
flake8-use-pathlib
flake8-useless-assert
flake8-variables-names
flake8-walrus
flake8-warnings
flakeheaven
flakehell
flakes
flit
future
hacking
html5lib
humanize
hunter
hypothesis
icecream
import-linter
infer-types
ipdb
ipykernel
ipyleaflet
ipython
isort
Jinja2
jsonschema
jupyter
jupyter-c-kernel
jupyter-console
jupyter-repo2docker
jupyterhub
jupyterlab
jupyterlab-flake8
keras
keyboard
line_profiler[all]
lptrace
lxml
mamba
manhole
matlab_kernel
matplotlib
mccabe
memory-profiler
modernize
MonkeyType
mouse
mypy
nbconvert
nbqa[toolchain]
nitpick
nose
nose2
notebook
nox
numba
numexpr
numpy
numpydoc
opencv-python
openpyxl
pandas
pandas-vet
paramiko
pdb-attach
pdbpp
pendulum
pep8-naming
pillow
Pillow
pip
pipenv
pipx < 0.12; python_version < "3.6"
pipx; python_version >= "3.6"
plotly
poetry
polyaxon
pooch
projectq
prospector
psutil
psycopg2
pudb
py-spy
pyamg
pyannotate
pyarrow
PyAutoGUI
pycallgraph
pycallgraph2
pycodestyle
pycrypto
pycryptodome
pycryptodomex
pydocstyle
pyflakes
pyformat
pygraphviz
pylama
pylint
pymysql
pynacl
pynput
pypattyrn
pyperf
PyQt4
PyQt5
PyQt6
pyqtgraph
pyre-check
pyreadstat
pyringe
pyshark
PyTables
pytest
pytest-clarity
pytest-cov
pytest-flake8
pytest-xdist
python-box[all]
python-coveralls
python-dateutil
python-pcapng
python-snappy
pytime
pytype
pytz
pywin32; sys_platform == 'win32'
pyxlsb
PyYAML
pyzstd
qiskit
qtconsole
qtpy
requests
requests-html
rich
rich; python_version >= "3.6"
rope
ruff
sarge
scapy
schema
schematics
scikit-fuzzy
scikit-image
scikit-learn
scikit-posthocs
scikit-umfpack
scipy
seaborn[stats]
selenium
setuptools
setuptools-scm
sh
six
snakefood
sortedcontainers
sparse
sphinx
sphinx-gallery
sphinx-lint
sphinx-prompt
sphinxext-opengraph
SQLAlchemy
statsmodels
subprocess32
sympy
tabulate
tensorflow
texttable
tkcalendar
tomli
tomli-w
tox
traceml
transitions
tryceratops
tweepy
twine
types-requests
tzdata
uncompyle6
virtualenv
voila
vprof
vulture
ward
wdb
wdb.server
weightedcalcs
wemake-python-styleguide
wheel
wps-playground
xarray
xclip
xgboost
xlrd
xlsxwriter
xlwt
xrft
xsel
yapf
ydata-profiling[notebook,unicode,pyspark]
yesqa
yulewalker
zlib
zstandard
zstd
